* {
    color: #666;
    font-weight: 300;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    line-height: 24px;
}

.main-title {
    font-weight: normal;
    font-size: 48px;
    margin-left: 55px;
    margin-top: 44px;
}

.mug-img {
    width: 374px;
    height: auto;
    margin-left: 27px;
    margin-top: 20px;
}

.main-subtitle {
    color: #f07c17;
    font-size: 24px;
    font-weight: bold;
    margin-top: 21px;
    padding-bottom: 20px;
}

.content {
    left: 83px;
} 


.content p {
    line-height: 32px;

}



.main-features {
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    margin-top: 30px;
    margin-left: 27px;
    width: 374px;
    padding-bottom: 26px;
}

.main-features ul {
    padding-left: 70px;
    padding-top: 4px;
}

.main-features li {
    padding-bottom: 8px;

}

.main-features h2 {
    padding-left: 30px;
    font-size: 24px;
    margin-top: 30px;
}

.text-top {
    vertical-align: top;
}



body {
    margin-bottom: 200px;
    width: 750px;
}

.content {
    margin-left: -56px;
    /*margin-top: -1px;*/
}


    .mockup-overlay {
       top: 0;
       position: absolute;
       z-index: -1;
       opacity: 0.4;
    }